---
import Layout from "../components/Layout.astro";
import upload from "./upload.astro";
---

<Layout>
	<ul>
		{
			files.map((f) => (
				<li>
					<a href={f.url}>{f.name}</a>({f.created_at})
				</li>
			))
		}
	</ul>
</Layout>
